# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.so

# virtualenv
venv/
env/
.venv/

# Django stuff
db.sqlite3
media/
staticfiles/

# Environment files (ВАЖЛИВО)
.env
*.env

# IDE files
.idea/
.vscode/

#test
management/
file.txt
funcs.py
