# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.so

# virtualenv
venv/
env/
.venv/

# Django stuff

media/
staticfiles/

# Environment files (ВАЖЛИВО)


# IDE files
.idea/
.vscode/

#test
management/
file.txt
funcs.py
